<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
    <script src="login2.js"></script>

</head>

<body>
    <div class="container">

        <div class="register-box">
            <h2>Crear Usuario</h2>
            <form id="register-form">
                <div class="user-box">
                    <input type="text" name="username" id="username"  required>
                    <label>Usuario</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" id="password" required>
                    <label>Contraseña</label>
                </div>
                <button type="submit" class="btn">
                    Crear Cuenta
                </button>
                <p>¿Ya tienes cuenta? <a href="main.html" id="login-link"  style="color:  deepskyblue;">Iniciar Sesión</a></p>
            </form>
        </div>


    </div>
    <script src="../static/registro_user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>

</html>